<html>
<head>
    <title> Удаление работника </title>
</head>
<body>
    <form action="/employee/delete">
        <label for="Id"> Введите код работника для удаления: <br></label>
        <input type="number" name="Id" required /> <br />

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>