<html>
<head>
    <title> Удаление работника </title>
</head>
<body>
    <h4>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/employee/"> Список работников </a>
        <span> | </span>
        <a href="/employee/create"> Добавить работника </a>
        <span> | </span>
        <a href="/employee/update"> Изменить работника </a>
    </h4>

    <form action="/employee/delete">
        <label for="Id"> Введите код работника для удаления: <br></label>
        <input type="number" name="Id" required /> <br />

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>