<html>
<head>
    <title> Создать достижение </title>
</head>
<body>
    <form action="/achievement/create">

        <label for="Text"> Введите текст достижения: <br></label>
        <input type="text" name="Text" required /> <br />

        <input type="submit" value="Создать" />
    </form>
</body>
</html>