<html>
<head>
    <title> Создать достижение </title>
</head>
<body>
    <h4>
        <a href="/home"> На главную </a>
        <span> | </span>
        <a href="/achievement"> Список достижений </a>
        <span> | </span>
        <a href="/achievement/delete"> Удалить достижение </a>
        <span> | </span>
        <a href="/achievement/update"> Изменить достижение </a>
    </h4>

    <form action="/achievement/create">

        <label for="Text"> Введите текст достижения: <br></label>
        <input type="text" name="Text" required /> <br />

        <input type="submit" value="Создать" />
    </form>
</body>
</html>