<html>
<head>
    <title>Удаление достижения</title>
</head>
<body>
    <form action="/achievement/delete">
        <label for="Id"> Введите код достижения для удаления: <br></label>
        <input type="number" name="Id" required /> <br />

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>