@using Term5_RPBDIS_library.models.tables;
@{
    var achievements = ViewBag.Achievements as List<Achievement>;
}


<html>
<head>
    <title> Изменить достижение </title>
</head>
<body>
    <h4>
        <a href="/home"> На главную </a>
        <span> | </span>
        <a href="/achievement"> Список достижений </a>
        <span> | </span>
        <a href="/achievement/create"> Добавить достижение </a>
        <span> | </span>
        <a href="/achievement/delete"> Удалить достижение </a>
    </h4>

    <form action="/achievement/update">

        <label for="Id"> Выберите запись </label> <br />
        <select name="Id">
            @foreach (Achievement achievement in achievements) {
                <option value="@achievement.ID">
                    @achievement.ID @achievement.Text
                </option>
            }
        </select><br />

        <label for="Text"> Введите текст достижения: </label> <br>
        <input type="text" name="Text" required /> <br />

        <input type="submit" value="Изменить" />
    </form>
</body>
</html>