<html>
<head>
    <title> Создать оценку </title>
</head>
<body>
    <h4>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/mark"> Список оценок </a>
        <span> | </span>
        <a href="/mark/delete"> Удалить оценку </a>
        <span> | </span>
        <a href="/mark/update"> Изменить оценку </a>
    </h4>

    <form action="/mark/create">

        <label for="mark"> Введите оценку: <br></label>
        <input type="number" name="mark" required /> <br />

        <input type="submit" value="Создать" />
    </form>
</body>
</html>