<html>
<head>
    <title> Создать оценку </title>
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <nav>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/mark"> Список оценок </a>
        <span> | </span>
        <a href="/mark/delete"> Удалить оценку </a>
        <span> | </span>
        <a href="/mark/update"> Изменить оценку </a>
    </nav>

    <form action="/mark/create">

        <label for="mark"> Введите оценку: <br></label>
        <input type="number" name="mark" required /> <br />

        <input type="submit" value="Создать" />
    </form>
</body>
</html>