<html>
<head>
    <title> Создать оценку </title>
</head>
<body>
    <form action="/mark/create">

        <label for="mark"> Введите оценку: <br></label>
        <input type="number" name="mark" required />

        <input type="submit" value="Создать" />
    </form>
</body>
</html>