<html>
<head>
    <title> Удаление оценки </title>
</head>
<body>
    <form action="/mark/delete">
        <label for="Id"> Введите код оценки для удаления: <br></label>
        <input type="number" name="Id" required /> <br />

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>