@using Term5_RPBDIS_library.models.tables;
@{
    var marks = ViewBag.Marks as List<Mark>;
}


<html>
<head>
    <title> Изменить оценку </title>
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <nav>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/mark"> Список оценок </a>
        <span> | </span>
        <a href="/mark/create"> Добавить оценку </a>
        <span> | </span>
        <a href="/mark/delete"> Удалить оценку </a>
    </nav>

    <form action="/mark/update">

        <label for="Id"> Выберите запись <br></label>
        <select name="Id">
            @foreach (Mark mark in marks) {
                
                <option value="@mark.ID">
                    @mark.ID @mark.Value
                </option>
            }
        </select><br />

        <label for="Value"> Введите новое значение: <br></label>
        <input type="number" name="Value" /><br />

        <input type="submit" value="Изменить" />
    </form>
</body>
</html>