<html>
<head>
    <title> Удаление результата </title>
</head>
<body>
    <h4>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/realEfficiency"> Список реальной эффективности </a>
        <span> | </span>
        <a href="/realEfficiency/create"> Добавить реальную эффективность </a>
        <span> | </span>
        <a href="/realEfficiency/update"> Изменить реальную эффективность </a>
    </h4>

    <form action="/realEfficiency/delete">
        <label for="Id"> Введите код результата для удаления: <br></label>
        <input type="number" name="Id" required />

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>