<html>
<head>
    <title> Удаление результата </title>
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <nav>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/realEfficiency"> Список реальной эффективности </a>
        <span> | </span>
        <a href="/realEfficiency/create"> Добавить реальную эффективность </a>
    </nav>

    <form action="/realEfficiency/delete">
        <label for="Id"> Введите код результата для удаления: <br></label>
        <input type="number" name="Id" required />

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>