<html>
<head>
    <title> Удаление результата </title>
</head>
<body>
    <form action="/realEfficiency/delete">
        <label for="Id"> Введите код результата для удаления: <br></label>
        <input type="number" name="Id" required />

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>