@using Term5_RPBDIS_Web.ViewModels.AccountViewModels
@model DeleteAccountViewModel

<html>
<head>
    <title>Удаление</title>
    <link rel="stylesheet" type="text/css" href="/css/AccountCrud.css"/>
</head>
<body>
    <form method="post">
        <div>
            <label for="PhoneNumber">Телефонный номер пользователя:</label>
            <input type="number" id="PhoneNumber" name="PhoneNumber" required />
        </div>

        <button type="submit">Удалить</button>
    </form>

    @Html.ValidationSummary(true, "", new { @class = "errors" })
</body>
</html>