@using Term5_RPBDIS_Web.ViewModels.AccountViewModels;
@model LoginViewModel

<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="/css/AccountCrud.css" />
</head>
<body>
    <nav>
        <a href="/home/index">На главную</a>
        <a href="/account/register">Зарегестрироваться</a>
    </nav>

    <form method="post">
        <div>
            <label for="PhoneNumber">Номер телефона:</label>
            <input id="PhoneNumber" type="number" name="PhoneNumber" required />
        </div>
        <div>
            <label for="Password">Пароль:</label>
            <input id="Password" type="password" name="Password" required />
        </div>
        <button type="submit">Войти</button>

        @Html.ValidationSummary(true, "", new { @class = "errors" })
    </form>
</body>
</html>

