@using Term5_RPBDIS_Web.ViewModels.AccountViewModels;
@model RegisterViewModel
<html>
<head>
    <title> Регистрация </title>
    <link rel="stylesheet" type="text/css" href="/css/Register.css" />
</head>
<body>
    <nav>
        <a href="/home/index">На главную</a>
        <a href="/account/login">Войти</a>
    </nav>

    <form method="post">
        <div>
            <label for="PhoneNumber">PhoneNumber:</label>
            <input id="PhoneNumber" type="number" name="PhoneNumber" required />
        </div>
        <div>
            <label for="Password">Пароль:</label>
            <input id="Password" type="password" name="Password" required />
        </div>
        <div>
            <label for="ConfirmPassword">Подтвердите пароль:</label>
            <input id="ConfirmPassword" type="password" name="ConfirmPassword" required />
        </div>
        <div>
            <label for="Rights">Права:</label>
            <input asp-for="Rights" id="Rights" type="checkbox" name="Rights" value="true" />
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    
    @Html.ValidationSummary(true, "", new { @class = "registration-errors" })
</body>
</html>
