.account-actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

h2 {
    margin-bottom: 0;
}

ul {
    margin-top: 0;
}

.left-pannel {
    float: left;
}

.right-pannel {
    float: right;
}

.middle-pannel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-type {
    position: fixed;
    left: 97%;
    bottom: 0;
    color: green;
}