@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<html>
<head>
    <title> Начальная страница </title>
    <link rel="stylesheet" type="text/css" href="/css/Index.css" />
</head>
<body>
    <div class="left-pannel">
        <h2> Достижения </h2>
        <ul>
            <li> <a href="achievement/ShowTable?pageNumber=1"> Список достижений </a> </li>
            <li> <a href="achievement/create"> Добавить достижение </a> </li>
            <li> <a href="achievement/delete"> Удалить достижение </a> </li>
            <li> <a href="achievement/update"> Изменить достижение </a> </li>
        </ul>
     
        <h2> Оценки </h2>
        <ul>
            <li> <a href="mark/ShowTable?pageNumber=1"> Список оценок </a> </li>
            <li> <a href="mark/create"> Добавить оценку </a> </li>
            <li> <a href="mark/delete"> Удалить оценку </a> </li>
            <li> <a href="mark/update"> Изменить оценку </a> </li>
        </ul>

        <h2> Даты </h2>
        <ul>
            <li> <a href="date/ShowTable?pageNumber=1"> Список дат </a> </li>
            <li> <a href="date/create"> Добавить дату </a> </li>
            <li> <a href="date/delete"> Удалить дату </a> </li>
            <li> <a href="date/update"> Изменить дату </a> </li>
        </ul>
    </div>

    <div class="right-pannel">
        <h2> Планируемые эффективности </h2>
        <ul>
            <li> <a href="plannedEfficiency/ShowTable?pageNumber=1"> Список планирумых эффективностей </a> </li>
            <li> <a href="plannedEfficiency/create"> Добавить план </a> </li>
            <li> <a href="plannedEfficiency/delete"> Удалить план </a> </li>
            <li> <a href="plannedEfficiency/update"> Изменить план </a> </li>
        </ul>

        <h2> Реальные эффективности </h2>
        <ul>
            <li> <a href="realEfficiency/ShowTable?pageNumber=1"> Список реальных эффективностей </a> </li>
            <li> <a href="realEfficiency/create"> Добавить реальную эффективность </a> </li>
            <li> <a href="realEfficiency/delete"> Удалить реальную эффективность </a> </li>
            <li> <a href="realEfficiency/update"> Изменить реальную эффективность </a> </li>
        </ul>

        <h2> Работники </h2>
        <ul>
            <li> <a href="employee/ShowTable?pageNumber=1"> Список работников </a> </li>
            <li> <a href="employee/create"> Добавить работника </a> </li>
            <li> <a href="employee/delete"> Удалить работника </a> </li>
            <li> <a href="employee/update"> Изменить работника </a> </li>
        </ul>

        <h2> Отделы </h2>
        <ul>
            <li> <a href="division/ShowTable?pageNumber=1"> Список отделов </a> </li>
            <li> <a href="division/create"> Добавить отдел </a> </li>
            <li> <a href="division/delete"> Удалить отдел </a> </li>
            <li> <a href="division/update"> Изменить отдел </a> </li>
        </ul>
    </div>

    <div class="middle-pannel">
        <h2> Информация </h2>
        <ul>
            <li> <a href="home/info"> Информация о клиенте </a> </li>
        </ul>

        <h2> Поиск </h2> 
        <ul>
            <li> <a href="/search/form1"> Форма 1 (куки) </a> </li>
            <li> <a href="/search/form2"> Форма 2 (сессия) </a> </li>
        </ul>

        @if (SignInManager.IsSignedIn(User)) {

            var user = await UserManager.GetUserAsync(User);

            if (await UserManager.IsInRoleAsync(user, "Admin")) {
                // TODO: Добавь круды теперь.

                <h2>Пользователи</h2> 
                <ul>
                    <li><a href="/account/usersList">Список пользователей</a></li>
                    <li><a href="/account/create">Добавить пользователя</a></li>
                    <li><a href="/account/delete">Удалить пользователя</a></li>
                    <li><a href="/account/update">Изменить пользователя</a></li>
                </ul>
    
                <div class="account-type">
                    Admin
                </div>
            } else {
                <div class="account-type">
                    User
                </div>
            }
        }
    </div>
    
    <div class="account-actions">
        <a href="/account/login">Вход</a>
        <a href="/account/logout">Выход</a>
        <a href="/account/register">Регистрация</a>
    </div>

</body>
</html>
