<html>
<head>
    <title> Начальная страница </title>
</head>
<body>
    <div style="float: left;">
        <h2> Достижения </h2>
        <ul>
            <li> <a href="achievement/ShowTable?pageNumber=1"> Список достижений </a> </li>
            <li> <a href="achievement/create"> Добавить достижение </a> </li>
            <li> <a href="achievement/delete"> Удалить достижение </a> </li>
            <li> <a href="achievement/update"> Изменить достижение </a> </li>
        </ul>
     
        <h2> Оценки </h2>
        <ul>
            <li> <a href="mark"> Список оценок </a> </li>
            <li> <a href="mark/create"> Добавить оценку </a> </li>
            <li> <a href="mark/delete"> Удалить оценку </a> </li>
            <li> <a href="mark/update"> Изменить оценку </a> </li>
        </ul>

        <h2> Даты </h2>
        <ul>
            <li> <a href="date"> Список дат </a> </li>
            <li> <a href="date/create"> Добавить дату </a> </li>
            <li> <a href="date/delete"> Удалить дату </a> </li>
            <li> <a href="date/update"> Изменить дату </a> </li>
        </ul>
    </div>

    <div style="float: right;">
        <h2> Планируемые эффективности </h2>
        <ul>
            <li> <a href="plannedEfficiency"> Список планирумых эффективностей </a> </li>
            <li> <a href="plannedEfficiency/create"> Добавить план </a> </li>
            <li> <a href="plannedEfficiency/delete"> Удалить план </a> </li>
            <li> <a href="plannedEfficiency/update"> Изменить план </a> </li>
        </ul>

        <h2> Реальные эффективности </h2>
        <ul>
            <li> <a href="realEfficiency"> Список реальных эффективностей </a> </li>
            <li> <a href="realEfficiency/create"> Добавить реальную эффективность </a> </li>
            <li> <a href="realEfficiency/delete"> Удалить реальную эффективность </a> </li>
            <li> <a href="realEfficiency/update"> Изменить реальную эффективность </a> </li>
        </ul>

        <h2> Работники </h2>
        <ul>
            <li> <a href="employee"> Список работников </a> </li>
            <li> <a href="employee/create"> Добавить работника </a> </li>
            <li> <a href="employee/delete"> Удалить работника </a> </li>
            <li> <a href="employee/update"> Изменить работника </a> </li>
        </ul>

        <h2> Отделы </h2>
        <ul>
            <li> <a href="division"> Список отделов </a> </li>
            <li> <a href="division/create"> Добавить отдел </a> </li>
            <li> <a href="division/delete"> Удалить отдел </a> </li>
            <li> <a href="division/update"> Изменить отдел </a> </li>
        </ul>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">
        <h2> Информация </h2>
        <ul>
            <li> <a href="home/info"> Информация о клиенте </a> </li>
        </ul>

        <h2> Поиск </h2> 
        <ul>
            <li> <a href="/search/form1"> Форма 1 (куки) </a> </li>
            <li> <a href="/search/form2"> Форма 2 (сессия) </a> </li>
        </ul>
    </div>
</body>
</html>
