@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<html>
<head>
    <title> Начальная страница </title>
    <link rel="stylesheet" type="text/css" href="/css/Index.css" />
</head>
<body>
    <div class="panel left">
        <h2> Достижения </h2>
        <ul>
            <a href="/achievement/ShowTable?pageNumber=1"><li>Список достижений</li></a>
            <a href="/achievement/create"><li>Добавить достижение</li></a>
            <a href="/achievement/delete"><li>Удалить достижение</li></a>
        </ul>
     
        <h2> Оценки </h2>
        <ul>
            <a href="/mark/ShowTable?pageNumber=1"><li>Список оценок</li></a>
            <a href="/mark/create"><li>Добавить оценку</li></a>
            <a href="/mark/delete"><li>Удалить оценку</li></a>
        </ul>

        <h2> Даты </h2>
        <ul>
            <a href="/date/ShowTable?pageNumber=1"><li>Список дат</li></a>
            <a href="/date/create"><li>Добавить дату</li></a>
            <a href="/date/delete"><li>Удалить дату</li></a>
        </ul>
    </div>

    <div class="panel right">
        <h2> Планируемые эффективности </h2>
        <ul>
            <a href="/plannedEfficiency/ShowTable?pageNumber=1"><li>Список планирумых эффективностей</li></a>
            <a href="/plannedEfficiency/create"><li>Добавить план</li></a>
            <a href="/plannedEfficiency/delete"><li>Удалить план</li></a>
        </ul>

        <h2> Реальные эффективности </h2>
        <ul>
            <a href="/realEfficiency/ShowTable?pageNumber=1"><li>  Список реальных эффективностей </li></a>
            <a href="/realEfficiency/create"> <li> Добавить реальную эффективность </li></a>
            <a href="/realEfficiency/delete"> <li> Удалить реальную эффективность </li></a>
        </ul>

        <h2> Работники </h2>
        <ul>
            <a href="/employee/ShowTable?pageNumber=1"> <li> Список работников </li></a>
            <a href="/employee/create"> <li> Добавить работника </li></a>
            <a href="/employee/delete"><li>  Удалить работника </li></a>
        </ul>

        <h2> Отделы </h2>
        <ul>
            <a href="/division/ShowTable?pageNumber=1"> <li> Список отделов  </li></a>
            <a href="/division/create"><li> Добавить отдел </li></a>
            <a href="/division/delete"><li>  Удалить отдел </li></a>
        </ul>
    </div>

    <div class="panel middle">
        <h2> Информация </h2>
        <ul>
            <a href="/home/info"><li>Информация о клиенте</li></a>
        </ul>

        <h2>Поиск</h2> 
        <ul>
            <a href="/search/form1"><li>Форма 1 (куки)</li></a>
            <a href="/search/form2"><li>Форма 2 (сессия)</li></a>
        </ul>

        @if (SignInManager.IsSignedIn(User)) {

            var user = await UserManager.GetUserAsync(User);

            if (await UserManager.IsInRoleAsync(user, "Admin")) {
                
                <h2>Пользователи</h2> 
                <ul>
                    <a href="/account/usersList"><li>Список пользователей</li></a>
                    <a href="/account/create"><li>Добавить пользователя</li></a>
                    <a href="/account/delete"><li>Удалить пользователя</li></a>
                    <a href="/account/update"><li>Изменить пользователя</li></a>
                </ul>   
            }
        }
    </div>
    
    <div class="panel account-actions">
        <a href="/account/login">Вход</a>
        <a href="/account/logout">Выход</a>
        <a href="/account/register">Регистрация</a>
    </div>

    @if (SignInManager.IsSignedIn(User)) {

        var user = await UserManager.GetUserAsync(User);

        if (await UserManager.IsInRoleAsync(user, "Admin")) {
            <div class="account-type">
                Admin
            </div>
        } else {
            <div class="account-type">
                User
            </div>
        }
    }

</body>
</html>
