<html>
<head>
    <title> Информация </title>
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />

</head>
<body>
    <nav> <a href="/"> На главную </a> </nav>

    <p> remote ip: <br> @ViewBag.RemoteIp </p>
    <p> client language: <br> @ViewBag.ClientLanguage </p>
    <p> client browser: <br> @ViewBag.ClientBrowser </p>
</body>
</html>
