<html>
<head>
    <title> Информация </title>
</head>
<body>
    <h4> <a href="/"> На главную </a> </h4>

    <p> remote ip: <br> @ViewBag.RemoteIp </p>
    <p> client language: <br> @ViewBag.ClientLanguage </p>
    <p> client browser: <br> @ViewBag.ClientBrowser </p>
</body>
</html>
