<html>
<head>
    <title> Создать отделение </title>
</head>
<body>
    <form action="/division/create">

        <label for="StartDate"> Введите название: <br></label>
        <input type="text" name="Name" required /><br>

        <label for="Mark"> Введите оценку: <br></label>
        <input type="number" name="Mark" required /><br>
        
        <label for="Planned"> Введите планируемую эффективность: <br></label>
        <input type="number" name="Planned" required /><br>
        
        <label for="Real"> Введите реальную эффективность: <br></label>
        <input type="number" name="Real" required /><br>
        
        <label for="StartDate"> Введите начальную дату: <br></label>
        <input type="date" name="StartDate" required /><br>
        
        <label for="EndDate"> Введите конечную дату: <br></label>
        <input type="date" name="EndDate" required /><br>

        <input type="submit" value="Создать" />
    </form>
</body>
</html>