<html>
<head>
    <title> Создать отделение </title>
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <nav>
        <a href="/home"> На главную </a>
        <span> | </span>
        <a href="/division"> Список отделов </a>
        <span> | </span>
        <a href="/division/delete"> Удалить отдел </a>
        <span> | </span>
        <a href="/division/update"> Изменить отдел </a>
    </nav>

    <form action="/division/create">

        <label for="StartDate"> Введите название: </label> <br>
        <input type="text" name="Name" required /><br>

        <label for="Mark"> Введите оценку: </label> <br>
        <input type="number" name="Mark" required /><br>
        
        <label for="Planned"> Введите планируемую эффективность: </label> <br>
        <input type="number" name="Planned" required /><br>
        
        <label for="Real"> Введите реальную эффективность: </label> <br>
        <input type="number" name="Real" required /><br>
        
        <label for="StartDate"> Введите начальную дату: </label> <br>
        <input type="date" name="StartDate" required /><br>
        
        <label for="EndDate"> Введите конечную дату: </label> <br>
        <input type="date" name="EndDate" required /><br>

        <input type="submit" value="Создать" />
    </form>
</body>
</html>