<html>
<head>
    <title>Удаление отделения</title>
</head>
<body>
    <h4>
        <a href="/home"> На главную </a> 
        <span> | </span>
        <a href="/division"> Список отделов </a> 
        <span> | </span>
        <a href="/division/create"> Добавить отдел </a> 
        <span> | </span>
        <a href="/division/update"> Изменить отдел </a> 
    </h4>

    <form action="/division/delete">
        <label for="Id"> Введите код отделения для удаления: </label> <br>
        <input type="number" name="Id" required /><br>

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>