<html>
<head>
    <title>Удаление отделения</title>
</head>
<body>
    <form action="/division/delete">
        <label for="Id"> Введите код отделения для удаления: </label> <br>
        <input type="number" name="Id" required /><br>

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>