<html>
<head>
    <title> Создать план </title>
</head>
<body>
    <form action="/plannedEfficiency/create">

        <label for="Efficiency"> Введите эффективность: <br></label>
        <input type="number" name="Efficiency" required />

        <label for="StartDate"> Введите начальную дату: <br></label>
        <input type="date" name="StartDate"/><br>

        <label for="EndDate"> Введите конечную дату: <br></label>
        <input type="date" name="EndDate" /><br>

        <input type="submit" value="Создать" />
    </form>
</body>
</html>