<html>
<head>
    <title> Создать план </title>
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <nav>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/plannedEfficiency"> Список планов </a>
        <span> | </span>
        <a href="/plannedEfficiency/delete"> Удалить план </a>
        <span> | </span>
        <a href="/plannedEfficiency/update"> Изменить план </a>
    </nav>

    <form action="/plannedEfficiency/create">

        <label for="Efficiency"> Введите эффективность: <br></label>
        <input type="number" name="Efficiency" required /><br />

        <label for="StartDate"> Введите начальную дату: <br></label>
        <input type="date" name="StartDate"/><br>

        <label for="EndDate"> Введите конечную дату: <br></label>
        <input type="date" name="EndDate" /><br>

        <input type="submit" value="Создать" />
    </form>
</body>
</html>