<html>
<head>
    <title> Удаление плана </title>
</head>
<body>
    <h4>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/plannedEfficiency"> Список планов </a>
        <span> | </span>
        <a href="/plannedEfficiency/create"> Добавить план </a>
        <span> | </span>
        <a href="/plannedEfficiency/update"> Изменить план </a>
    </h4>

    <form action="/plannedEfficiency/delete">
        <label for="Id"> Введите код плана для удаления: <br></label>
        <input type="number" name="Id" required /> <br />

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>