@{
    ViewBag.PageType = "plannedEfficiency";
}

<html>
<head>
    <title> Удаление плана </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <nav>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/plannedEfficiency"> Список планов </a>
        <span> | </span>
        <a href="/plannedEfficiency/create"> Добавить план </a>
    </nav>

    <form class="confirm-form" method="get" action="/plannedEfficiency/delete">
        <label for="Id"> Введите код плана для удаления: <br></label>
        <input type="number" name="Id" id="id-input" required /> <br />

        <input type="submit" value="Удалить" id="confirm-button" />
    </form>

    @Html.Partial("_deletingModalWindow")
</body>
</html>