<html>
<head>
    <title> Создать дату </title>
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <nav>
        <a href="/home"> На главную </a>
        <span> | </span>
        <a href="/date"> Список дат </a> 
        <span> | </span>
        <a href="/date/delete"> Удалить дату </a>
    </nav>
    
    <form action="/date/create">

        <label for="StartDate"> Введите начальную дату: </label><br>
        <input type="date" name="StartDate" required /><br>

        <label for="EndDate"> Введите конечную дату: </label><br>
        <input type="date" name="EndDate" required /><br>

        <input type="submit" value="Создать" />
    </form>
</body>
</html>