<html>
<head>
    <title> Создать дату </title>
</head>
<body>
    <form action="/date/create">

        <label for="StartDate"> Введите начальную дату: <br></label>
        <input type="date" name="StartDate" required /><br>

        <label for="EndDate"> Введите конечную дату: <br></label>
        <input type="date" name="EndDate" required /><br>

        <input type="submit" value="Создать" />
    </form>
</body>
</html>