<html>
<head>
    <title>Удаление даты</title>
</head>
<body>
    <form action="/date/delete">
        <label for="Id"> Введите код даты для удаления: <br></label>
        <input type="number" name="Id" required />

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>