<html>
<head>
    <title>Удаление даты</title>
</head>
<body>
    <form action="/date/delete">
        <label for="Id"> Введите код даты для удаления: </label><br>
        <input type="number" name="Id" required /> <br>

        <input type="submit" value="Удалить" />
    </form>
</body>
</html>