@using Term5_RPBDIS_library.models.tables;
@{
    var dates = ViewBag.Data as List<Date>;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = ViewBag.totalPages ?? 0;
    ViewBag.PageType = "date";
}

<html>
<head>
    <title>Даты</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css"/>
</head>
<body>
    <nav>
        <a href="/home"> На главную </a>
        <span> | </span>
        <a href="/date/create"> Добавить дату </a>
        <span> | </span>
        <a href="/date/delete"> Удалить дату </a>
        <span> | </span>
        <a href="/date/update"> Изменить дату </a>
    </nav>

    <table border="1">
        <tr>
            <th>Код</th>
            <th>Начальная дата</th>
            <th>Конечная дата</th>
        </tr>

        @foreach (Date date in dates) {
            <tr>
                <td>@date.ID</td>
                <td>@date.StartDate</td>
                <td>@date.EndDate</td>
            </tr>
        }
    </table>

    @Html.Partial("_pagingPartial")

</body>
</html>
