@using Term5_RPBDIS_library.models.tables;
@{
    var data = ViewBag.Data as List<Date>;
}

<html>
<head>
    <title>Достижения</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <h1>Список достижений</h1>
    <table border="1">
        <tr>
            <th>Код</th>
            <th>Начальная дата</th>
            <th>Конечная дата</th>
        </tr>

        @foreach (Date a in data) {
            <tr>
                <td>@a.ID</td>
                <td>@a.StartDate</td>
                <td>@a.EndDate</td>
            </tr>
        }
    </table>
</body>
</html>
